body{
    padding: 2rem;
    padding-top: 0%;
}

.box{
    padding: 5rem;
}

nav a{
    margin-left: 1rem;
    text-decoration: none;
    color: black;
    font-size: large;

}

.page{
   color:rgb(6, 70, 70);
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 800;
   font-size: 3rem;
}