#container1{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
}

h1{
    margin-top: 3rem;
    text-align: center;
}

.box1{
    background-color: rgb(66, 213, 213);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
}

#container2{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
}

#container3{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 120px 120px 120px;
}

#container4{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: auto auto auto;
}

#container5{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#container6{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#container7{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

#container8{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}

#container9{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 30px;
}

#container10{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: repeat(3, 1fr);
}
.one{
    grid-row-start: 1;
    grid-row-end: 3;
}

#container11{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: repeat(3, 1fr);
}
.firstBox{
    grid-column-start: 1;
    grid-column-end: 3;
}

#container12{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: repeat(3, 1fr);
}
.secondBox{
    grid-column: 1/ span 3;
}

#container13{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: repeat(3, 1fr);
}
.thirdBox{
    grid-row: 1/ span 4;
}

#container14{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: repeat(3, 1fr);
}
.first{
    grid-column: 2 / span 2; 
    grid-row: 1 / span 4;
}

#container15{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.box2{
    background-color: rgb(66, 213, 213);
    border: 2px solid black;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
}

#container16{
    background-color: rgb(217, 221, 227);
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

























